# Visual Studio Code
.vscode/

# Python
__pycache__/
Misc/Old_Work/UFIDReader_python/Libraries/GUI/__pycache__/
Misc/Old_Work/UFIDReader_python/Libraries/Validation/__pycache__/
Misc/Old_Work/UFIDReader_python/src/__pycache__/
Misc/Old_Work/UFIDReader_python/Logs/
Misc/Old_Work/UFIDReader_python/Testdata/
Misc/Old_Work/UFIDReader_python/src/lib/
Misc/Old_Work/UFIDReader_python/venv

# Environment variables
.env

# Rider
/.idea/
/.idea.UFID_Reader.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml





# Current Project ignores (I think ~ Justin)
# UFID_Reader specific
UFID_Reader/bin/
UFID_Reader/obj/
UFID_Reader/packages/
UFID_Reader/riderModule.iml
UFID_Reader/_ReSharper.Caches/


# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
